@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&family=Varela&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Inter', sans-serif;
}

body {
    --s: 150px;
    --c1: #000;
    --c2: #161616;
    --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%,
      var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%,
      var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
    background: radial-gradient(50% 50% at 100% 0, var(--_g)),
      radial-gradient(50% 50% at 0 100%, var(--_g)),
      radial-gradient(50% 50%, var(--_g)),
      radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
        var(--c1);
    background-size: var(--s) var(--s);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 8rem;
    border-radius: 100%;
    margin-top: 2.5em;
    border: 6px solid #000;
}

.titulo {
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

.descricao {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
}

.links {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 16px;
    border-radius: 1.2rem;
    box-shadow: 0px 1rem 1.5rem -0.9rem #000;
    max-width: 400px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

button {
    cursor: pointer;
    padding: 1em;
    font-size: 1em;
    height: 70px;
    width: 100%;
    aspect-ratio: 1/0.25;
    color: white;
    background: #000;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 2rem;
    outline: 0.1em solid #000;
    border: 0;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
    border: 0.2em solid #ffffff98;
}

button:hover {
    transform: scale(1.05);
}

span {
    color: #000;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.8rem;
}

footer p {
    color: #fff;
    font-size: 0.8rem;
    background-color: #161616;
    padding: 12px;
    border-radius: 2rem;
    text-align: center;
    box-shadow: #000 0px 52px 54px, #000 0px -12px 20px, #000 0px 4px 6px, #000 0px 12px 13px, #000 0px -4px 5px;
}



@media (min-width: 768px) {
    img {
        margin-top: 1rem;
    }

    body {
        --s: 150px;
        --c1: #000;
        --c2: #0f0f0f;
        --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%,
        var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%,
        var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
        background: radial-gradient(50% 50% at 100% 0, var(--_g)),
        radial-gradient(50% 50% at 0 100%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
            var(--c1);
        background-size: var(--s) var(--s);
    }

    .titulo {
        margin-top: 8px;
    }

    footer {
        position: fixed;
        bottom: -36px;
    }
}
